@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library</h1>
    <p>Library is a simple application in which you may discover books, authors and genres. </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


    <div class="col-md-4">
        <h2>Books</h2>
        
        <p><a class="btn btn-default" href="https://localhost:44344/Books">View all books &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authors</h2>
        
        <p><a class="btn btn-default" href="https://localhost:44344/Authors">View all authors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        
        <p><a class="btn btn-default" href="https://localhost:44344/Genres">View all genres &raquo;</a></p>
    </div>

